@tailwind base;
@tailwind components;
@tailwind utilities;

.wrappera_hour{
  position: relative;
}
.btn1{
  position: absolute;
  top: 4px;
  left: 280px;
}
.btn3{
  position: absolute;
  top: 4px;
  left: 313px;
}
.btn4{
  position: absolute;
  top: 60px;
  left : 313px;
}
.btn5{
  position: absolute;
  top: 4px;
  left: 346px;
}
.btn6{
  position: absolute;
  top: 60px;
left : 346px;
}
.btn2{
  position: absolute;
  top: 60px;
  left: 280px;
}